
.about {
    width: 100%;
    margin: auto;
    padding: 0px;
    
}

.intro {
    width: 90%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.intro img{
    width: 600px;
    height: 350px;
}
h2{
    font-size: 2.9rem;
    color: rgb(104, 23, 23);
}
p{
    font-size: 1.2 rem;
    color: brown;
}

.perks{
    width: 100%;
    background-color: rgb(230, 152, 113);
    padding:  30px;
    margin: 0;

}
.perks h2, .perks p{
    width: 60%;
    margin: auto;
    color: darkred;
}

@media only screen and (max-width: 1070px) {
    .intro img{
        width: 300px;
        height: 200px;
    }
}

@media only screen and (max-width: 700px) {
    .intro {
        width: 100%;
        display: block;
        text-align: center;
    }
    .intro img{
        width: 300px;
        height: 200px;
    }
    .perks h2, .perks p{
        width: 100%;
    }
}