
.book-div{
    width: 50%;
    margin: 0px auto;
    margin-top: 50px;
    border: 1px solid rgb(250, 211, 211);
    
}
.book-head{
    background-color: rgb(230, 152, 113);
    padding: 10px;
    margin: 0px;
}
.book-head h2{
    font-size: 1.5rem;
    text-align: center;
}
.book-head h3{
    font-size: 1.0rem;
    color:darkred;
    text-align: center;
}
.book-detail p{
    text-align: center;
    border-bottom: 1px solid rgba(253, 221, 163, 0.822);
    padding: 20px;
    font-size: 1rem;
}

.book-footer{
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.book-footer a {
    text-decoration: none;
    color: rgb(2, 2, 54);
    cursor: pointer;
    padding: 4px 8px;
    font-size: 1rem;

}
.book-footer button{
    padding: 6px;
    color: darkred;
    margin: 5px 10px; 
    background-color: rgba(255, 198, 198, 0.842);
    border: 1px solid brown ;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.book-footer button:hover{
    background-color: rgba(253, 183, 183, 0.842);
}
.book-footer a:hover{
    color: rgb(97, 97, 247);
}
.book-meta{
    text-align: center;
    background: rgba(255, 223, 223, 0.822);
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .book-div{
        width: 100%;
    }
    .detail p{
        text-align: start;
        padding: 10px;
    }
}

@media only screen and (max-width: 900px) {
    .book-div{
        width: 90%;
    }

}

