
.created-book-footer button{
    display: block;
    width: 100%;
    cursor: pointer;
    border: none;
}
.created-book-footer{
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
}
.delete{
    background-color: rgb(250, 212, 212);
    font-size: 1rem;
    color: red;
    padding: 10px;
}
.delete:hover{
    background-color: rgb(240, 122, 122);
    color: rgb(100, 2, 2);
}
.update{
    background: rgb(203, 248, 203);
    font-size: 1rem;
    color: green;
    padding: 10px;
}
.update:hover{
    background-color: rgb(162, 223, 162);
    color: rgb(2, 59, 2);
}

@media only screen and (max-width: 600px) {
    .created-book-footer{
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .created-book-footer{
        width: 90%;
    }

}